<a href="https://colab.research.google.com/github/Chandani0919/Chandani0919/blob/main/testpreparationcourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# student perfomence useing
# LogisticRegression

# import panda

In [3]:
import pandas as pd

# import CVS as datafram

In [5]:
stud = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Students%20Performance.csv')

# get first 10  data

In [46]:
stud.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,1,3,0,0,72,72,74
1,0,2,5,0,1,69,90,88
2,0,1,4,0,0,90,95,93
3,1,0,0,1,0,47,57,44
4,1,2,5,0,0,76,78,75
5,0,1,0,0,0,71,83,78
6,0,1,5,0,1,88,95,92
7,1,1,5,1,0,40,43,39
8,1,3,1,1,1,64,64,67
9,0,1,1,1,0,38,60,50

In [7]:
stud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [8]:
stud.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [9]:
stud.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

# changeing string to float

In [10]:
stud[['gender']].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [11]:
stud.replace({'gender':{'female':0,'male':1}},inplace=True)

In [13]:
stud[['race/ethnicity']].value_counts()

race/ethnicity
group C           319
group D           262
group B           190
group E           140
group A            89
Name: count, dtype: int64

In [14]:
stud.replace({'race/ethnicity':{'group A':0,'group B':1,'group C':2,'group D':3,'group E':4}},inplace=True)

In [47]:
stud[['parental level of education']].value_counts()

parental level of education
5                              226
0                              222
1                              196
2                              179
3                              118
4                               59
Name: count, dtype: int64

In [48]:
stud.replace({'parental level of education':{"associate's degree":0,'high school':1,'some high school':2,"bachelor's degree":3,"master's degree":4,'some college':5}},inplace=True)

In [49]:
stud[['lunch']].value_counts()

lunch
0        645
1        355
Name: count, dtype: int64

In [50]:
stud.replace({'lunch':{'standard':0,'free/reduced':1}},inplace=True)

In [51]:
stud[['test preparation course']].value_counts()

test preparation course
0                          642
1                          358
Name: count, dtype: int64

In [52]:
stud.replace({'test preparation course':{'none':0,'completed':1}},inplace=True)

# finding x and y

In [53]:
y=stud['test preparation course']

In [54]:
x=stud[['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'math score', 'reading score',
       'writing score']]

# train and test split

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=2529)

# modeling

In [62]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression(max_iter=500)

# modeling evaluation

In [63]:
model.fit(x_train,y_train)

LogisticRegression(max_iter=500)

# prediction

In [64]:
y_pred = model.predict(x_test)

In [65]:
from sklearn.metrics import accuracy_score

In [66]:
accuracy_score(y_pred,y_test)

0.708

# we got 70% as a accuracy
by uding logistcregession